---
import integracjeImg from "../../assets/offer/integracje.webp";
import Button from "../Button.astro";
---

<p class="font-[Michroma] text-lg mb-8">
  Jeśli chciałbyś, aby Twoja integracja firmowa, szkolna lub jakiejkolwiek innej społeczności, była niecodzienna, zaangażowana i przede wszystkim skierowana na prawdziwe poznanie, to mamy do zaproponowania coś co może Cię zainteresować :) Nasze integracje mają na celu, zatrzymanie się na chwilę, wyjście z codziennej roli, zagłębienie się w siebie i otwarcie się na innych.
</p>
<img
  src={integracjeImg.src}
  alt="Integracje"
  width="1356"
  height="904"
  class="w-full h-auto"
/>
<div class="flex justify-end mt-9">
  <Button href="/integracje-cennik.pdf" target="_blank"
    >*CENY I SCENARIUSZE*</Button
  >
</div>
