---
import OfferLogo from "../../assets/offer/offer-logo.svg";
---

<section class="flex w-full justify-center">
  <div class="flex flex-col mt-40 w-fit mr-[242px]">
    <span class="font-[Michroma] text-[2rem]"
      >Współpraca z Tobą sprawi, że będzie się</span
    >
    <OfferLogo class="self-end translate-x-1/2" />
  </div>
</section>
<div class="mt-20 px-27 text-xl font-[Michroma]">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
  incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
  nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
  eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt
  in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor
  sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
  labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
  exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
  aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
  fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
  culpa qui officia deserunt mollit anim id est laborum.
</div>
