---
import polkolonieImg from "../../assets/offer/polkolonie.webp";
import Button from "../Button.astro";
---

<p class="font-[Michroma] text-lg mb-8">
  Chcemy aby Wasze dzieci dotknęły czegoś co leży u podstaw projektowania i tworzenia w dzisiejszym świecie. Sięgamy do tradycyjnego artystycznego rzemiosła, aby pokazać im, że sztuka, jest sposobem na rozwijanie myślenia, własnej zaradności i sprawczości. Sztuka jest sposobem na walkę ze stresem i antidotum na nudę.
</p>
<img
  src={polkolonieImg.src}
  alt="Półkolonie"
  width="1184"
  height="1064"
  class="w-full h-auto"
/>
<div class="flex justify-end mt-9">
  <Button href="/polkolonie-cennik.pdf" target="_blank">*CENY I SCENARIUSZE*</Button>
</div>
