---
import warsztatyImg from "../../assets/offer/warsztaty.webp";
import Button from "../Button.astro";
---

<p class="font-[Michroma] text-lg mb-8">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
  incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
  nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
  eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt
  in culpa qui officia deserunt mollit anim id est laborum.
</p>
<img
  src={warsztatyImg.src}
  alt="Warsztaty"
  width="1200"
  height="934"
  class="mx-21 w-[calc(100%-168px)] h-auto"
/>
<div class="flex justify-end mt-9">
  <Button href="/warsztaty-cennik.pdf" target="_blank"
    >*CENY I SCENARIUSZE*</Button
  >
</div>
