---
import PageLayout from "../../../layouts/PageLayout.astro";
---

<PageLayout>
  <section class="flex flex-col items-center justify-center min-h-screen font-[Michroma] px-12">
    <h1 class="text-4xl mb-8">Flower 2</h1>
    <a href="/actions" class="text-lg underline">← Wróć</a>
  </section>
</PageLayout>
