---
import navbarLogo from "../../assets/navbar-logo.svg";
---

<script>
  const COLORS = ["#00938A", "#826887", "#F7ADC5", "#F7CB1B", "#205245"];

  function attachHoverListeners() {
    document.querySelectorAll<HTMLElement>(".nav-link").forEach((link) => {
      link.addEventListener("mouseenter", () => {
        const color = COLORS[Math.floor(Math.random() * COLORS.length)];
        const sign = Math.random() > 0.5 ? 1 : -1;
        const deg = sign * (Math.random() * 8 + 5);
        link.style.transform = `rotate(${deg}deg)`;
        link.style.color = color;
      });
      link.addEventListener("mouseleave", () => {
        link.style.transform = "";
        link.style.color = "";
      });
    });
  }

  attachHoverListeners();
  document.addEventListener("astro:page-load", attachHoverListeners);
</script>

<nav class="relative flex flex-row py-6 h-36 pb-8 px-32 items-center mb-5">
  <div
    class="flex flex-row gap-x-16 uppercase text-[2.5rem] font-[CuteFont] flex-1 justify-start"
  >
    <a href="/about" class="nav-link text-nowrap">O nas</a>
    <a href="/offer" class="nav-link text-nowrap">Oferta</a>
  </div>
  <a href="/" class="absolute left-1/2 -translate-x-1/2">
    <img src={navbarLogo.src} alt="Logo" width="139" height="55" />
  </a>
  <div
    class="flex flex-row gap-x-16 uppercase text-[2.5rem] font-[CuteFont] flex-1 justify-end"
  >
    <a href="/actions" class="nav-link text-nowrap">Dzialania</a>
    <a href="/contact" class="nav-link text-nowrap">Kontakt</a>
  </div>
</nav>
