---
import navbarLogo from "../../assets/navbar-logo.svg";
---

<nav class="flex flex-row py-6 h-36 pb-8 mx-auto items-center mb-5">
  <div
    class="flex flex-row gap-x-16 uppercase text-[2.5rem] font-[CuteFont] flex-1 justify-end"
  >
    <a href="/about" class="text-nowrap">O nas</a>
    <a href="/offer" class="text-nowrap">Oferta</a>
  </div>
  <div class="flex justify-center flex-1 mx-44 min-w-[139]">
    <img src={navbarLogo.src} alt="Logo" width="139" height="55" />
  </div>
  <div
    class="flex flex-row gap-x-16 uppercase text-[2.5rem] font-[CuteFont] flex-1 justify-start"
  >
    <a href="/actions" class="text-nowrap">Dzialania</a>
    <a href="/contact" class="text-nowrap">Kontakt</a>
  </div>
</nav>
