---
import navbarLogo from "../assets/navbar-logo2.svg";
---

<nav class="flex flex-row h-40.25 px-27 items-center justify-between">
  <img
    src={navbarLogo.src}
    alt="Logo"
    width="238"
    height="126"
    style="flex-shrink:0;aspect-ratio:238/126"
  />
  <div
    class="flex flex-row gap-x-16 uppercase text-xl font-[Michroma] items-end mb-9 h-full"
  >
    <a href="/about" class="text-nowrap">O nas</a>
    <a href="/offer" class="text-nowrap">Oferta</a>
    <a href="/actions" class="text-nowrap">Dzialania</a>
    <a href="/contact" class="text-nowrap">Kontakt</a>
  </div>
</nav>
