---
import FooterEyes from "../assets/footer-eyes.svg";
import Instagram from "../assets/instagram.svg";
import Linkedin from "../assets/linkedin.svg"
import X from "../assets/x.svg"
---

<footer class="flex flex-row h-56 px-16 pb-16 mt-16 justify-between">
    <div class="bg-black w-full pl-14 pr-9 flex flex-row justify-between items-center">
        <div class="flex flex-col">
            <div class="text-[#F7CB1B] text-3xl leading-12 flex flex-col h-full justify-center">
                Zaobserwuj nas <br/>@dzialosztuki
            </div>
            <div class="flex flex-row gap-x-6 mt-5">
                <Instagram />
                <Linkedin />
                <X />
            </div>
        </div>
        <FooterEyes class="mt-2"  />
    </div>
</footer>